@using Homeclick.Models
@using System.Collections.Generic
@model ProjectLayout_Collection
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/Layout_BoSuuTap.cshtml";

    var tableItems = ViewBag.TableItems as IEnumerable<Homeclick.Models.ProductsLayoutsLink>;
    var products = ViewBag.Products as IEnumerable<Homeclick.Models.Product>;
    var otherCollections = ViewBag.OtherCollections as IEnumerable<CollectionViewModel>;
    string url = "";
}

    <div class="row">
        <div class="row" role="img">
            <img src="@url/@Model.Image" />
        </div>

        <div class="collection-title">
            <span>@Model.Name</span>
        </div>

        @if (Model.LayoutId != null)
        {
            <span>Bộ sưu tập nằm trong dự án <strong>@Model.Layout.Project.Name</strong></span>
            <div class="Collection-button">
                <a href="/Project/Details/@Model.Layout.Project.Id">Xem dự án</a>
            </div>
        }

        <article class="collection-description">
            @Html.Raw(Model.HtmlContent)
        </article>

        <section class="col-xs-12 product-list-section list-show">
            @Html.Partial("../Project/_ProductsTable", tableItems)

            @Html.Partial("../Project/_ProductsGrid", products)
        </section>


    </div>
<div class="row">
    <button class="add-to-cart btn bg pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Thêm vào giỏ</button>
</div>

<hr class="row" />



<section role="grid" class="row">
    <div class="category-title">
        <span>
            Các bộ sưu tập khác
        </span>
        <a href="/BoSuuTap/@otherCollections.First().categoryId">Xem thêm >></a>
    </div>
    @Html.Partial("_CollectionGrid", otherCollections)
</section>

