@using VCMS.Lib.Resources
@using VCMS.Lib.Models.Business

@{
    ViewBag.Title = Strings.Products;
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-lime"><i class="fa fa-plus" aria-hidden="true"></i> @Strings.CreateNew</a>
</p>
@foreach (var pair in ViewBag.Dic as Dictionary<string, Dictionary<string, int>>)
{
    <p class="bg-white">
        @Html.DropDownList(pair.Key, pair.Value.Select(o => new SelectListItem { Text = o.Key, Value = o.Value.ToString()}), "All - " + pair.Key, new { @class = "form-control chosen extra-search", data_key=pair.Key, tabindex = "-1", style = "display: none;"})
    </p>
}

<table id="dataTable" class="table table-striped table-hover fill-head" >
    <thead>
        <tr>
            <th>
                @Strings.Name
            </th>
            <th>
                @Strings.Image
            </th>
            <th>
                @Strings.Options
            </th>
            <th>
                @Strings.Status
            </th>
            <th>
            </th>
        </tr>
    </thead>
</table>

@section breadcrumb {
    @{
        var viewName = Html.ViewContext.RouteData.GetRequiredString("action");
    }
    <li>
        <a href="@Url.Action("Dashboard","Pages")">
            <i class="fa fa-home"></i> Home
        </a>
        <span class="divider"><i class="fa fa-angle-right"></i></span>
    </li>
    <li>@ViewBag.Title</li>
}

@section styles {
    @Styles.Render("~/bundles/manager/datatables/css")
    <link href="~/Areas/Manager/Content/lib/jquery-chosen/Chosen.min.css" rel="stylesheet" />
    }

@section scripts {
    @Scripts.Render("~/bundles/manager/datatables")
    <script src="~/Areas/Manager/Content/lib/jquery-chosen/chosen.jquery.min.js"></script>

    <script>
        var thumbImg = function (data, type, full, meta) {
            var fp = '@Url.GetImageUploadFolder()' + data;
            return '<div class="list-thumb"><img src="' + fp + '"></div>';
        }

        var simple_linkBtns = function (data, type, full, meta) {
            var param = '?id=' + data;
            return   '<div class="table-action">' +
                        '<a class="btn btn-sm show-tooltip" data-placement="top" data-original-title="Details" href="@Url.Action("Details")' + param + '" data-original-title="View"><i class="fa fa-search-plus"></i></a>' +
                        '<a class="btn btn-sm show-tooltip" data-placement="top" data-original-title="Edit" href="@Url.Action("Edit")' + param + '" data-original-title="Edit"><i class="fa fa-edit"></i></a>' +
                        '<a class="btn btn-sm btn-danger show-tooltip" data-placement="top" data-original-title="Delete" href="@Url.Action("Delete")' + param + '" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>' +
                    '</div>';
        }

        $(document).ready(function () {
            var table = $('#dataTable');
            var dataTable = table.DataTable({
                "autoWidth": false,
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": '@Url.Action("DataHandler")',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data)
                    {
                        var extraSearchs = $('.extra-search');
                        if (extraSearchs.length > 0) {
                            data.args = {};
                            for (var i = 0; i < extraSearchs.length; i++) {
                                var current = $(extraSearchs[i]);
                                if (current.data('key') && current.val())
                                    data.args[current.data('key')] = current.val();
                            }
                        }
                        return data = JSON.stringify(data);
                    }
                },

                responsive: false,

                "columns": [
                   { "data": "img", "render": thumbImg },
                   { "data": "name" },
                   {
                       "data": "options",
                       "render": function (data, type, full, meta) {
                           var item = "";
                           for (var key in data) {
                               item += '<p><strong>' + key + '</strong>: ' + data[key] + '<p>';
                           }
                           item += '<a class="btn-link" href="' + '@Url.Action("CreateOption")?productId=' + full.id + '"><i class="fa fa-plus" aria-hidden="true"></i>' + ' Add option</a>';
                           return item;
                       }
                   },
                   { "data": "status" },
                   { "data": "id", "render": simple_linkBtns }],

                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0,
                }, {
                    "searchable": false,
                    "orderable": false,
                    "targets": 2,
                }, {
                    "searchable": false,
                    "orderable": false,
                    "targets": 3,
                }],
                "drawCallback": function (settings) {
                    $('.show-tooltip').tooltip({ container: 'body', delay: { show: 500 } });
                    $('.show-popover').popover();
                }
            });

            $('.extra-search').bind('change', function () {
                dataTable.ajax.reload();
            });
        });
    </script>
}
