@using VCMS.Lib.Models;
@using VCMS.Lib.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
    Layout = null;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
} 
<div class="part-page product-feature" id="list_product_feature">
    <div class="title-feature-product title-page">
        <h3 class="">Sản phẩm nổi bật</h3>
        <p class="feature-description">Rất nhiều sản phẩm đến từ nhiều thương hiệu uy tín hàng đầu trong lĩnh vực nội thất. Theo nhiều phong cách thiết kế từ đương đại cho đên scandinavian và nhiều hơn nữa.</p>
    </div>
    <div class="content-product-feature col-md-12">
        <div class="feature-item row">
            @foreach (Product product in Model)
            {
                Dictionary<string, object> details = product.DetailsToDictionary();
                <div class="item-product col-xs-6 col-md-3">
                    <div class="image">
                        <a href="@Url.Action("Product_Detail","SanPham", new { Id = product.Id})"><img src="@Url.GetImageUploadFolder()@product.Image.FullFileName" alt="" /></a>
                    </div>
                    <div class="detail-item">
                        <h3 class="title-item"><a href="@Url.Action("Product_Detail","SanPham", new { Id = product.Id})">@product.name</a></h3>
                        <p>@Convert.ToInt32(details["gia"]).ToString("#,###", info.NumberFormat) vnđ</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
