@{
    ViewBag.Title = "Tự thiết kế";
    Layout = null;
    var url = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style>
        .content-page {
            background: #f4f4f4;
        }

        #footer {
            margin-top: 0px;
        }

        .owl-theme .owl-controls {
            position: absolute;
            width: 100%;
            /*bottom: 25px;*/
        }

            .owl-theme .owl-controls .owl-dot span {
                display: block;
                width: 24px;
                height: 24px;
                margin: 5px 7px;
                filter: Alpha(Opacity=100);
                opacity: 1;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 2px solid #02bdb6;
                background: #fff;
            }

            .owl-theme .owl-controls .owl-dot.active span, .owl-theme .owl-controls.clickable .owl-dot:hover span {
                filter: Alpha(Opacity=100);
                opacity: 1;
                background: #02bdb6;
            }

        .slide-button {
            height: 80px;
            width: 200px;
            background: #02bdb6;
            position: absolute;
            top: 33%;
            right: 40px;
            text-align: center;
            line-height: 80px;
            border-radius: 10px;
        }

            .slide-button a {
                font-size: 28px;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
            }
    </style>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="site-main">
            <div class="page-bosuutap">
                <div class="container breadcrumb">
                    <ul>
                        <li><a href="../">Home</a></li>
                        <li>Tự thiết kế</li>
                    </ul>
                                </div>
                <div class="row content-page">
                    <div class="container">
                        <div id="slider-home" class="owl-carousel">
                            <div class="item">
                                <img src="@url/upload/images/assets/tutk-01.jpg" title="" alt="">
                            </div>
                            <div class="item">
                                <img src="@url/upload/images/assets/tutk-02.jpg" title="" alt="">
                            </div>
                            <div class="item">
                                <img src="@url/upload/images/assets/tutk-03.jpg" title="" alt="">
                            </div>
                            <div class="item">
                                <img src="@url/upload/images/assets/tutk-04.jpg" title="" alt="">
                            </div>
                            <div class="item">
                                <img src="@url/upload/images/assets/tutk-05.jpg" title="" alt="">
                                <div class="slide-button hvr-pulse-grow">
                                    <a href="#">START NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_Footer");
    </div>

    <script>
        var menu = '@ViewContext.RouteData.Values["controller"]@ViewContext.RouteData.Values["action"]';
        var currentMenu = $('li').filter('[data-menu="' + menu + '"]');
        var parentMenu = currentMenu.parents('li');
        currentMenu.addClass('active');
        parentMenu.addClass('active')

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            nav: false,
            slideSpeed: 300,
            paginationSpeed: 400,
            pagination: true,
            items: 1,
            navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
        });
    </script>
</body>
</html>