@using Homeclick.Models;
@model List<Giohang>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:red; font-size=16px;text-align:center;margin-top:20px">Không có sản phẩm nào trong giỏ hàng !</h3>
@*<table>
    <tr>
        <td>Ma san pham</td>
        <td>Ten san pham</td>
        <td>Image</td>
        <td>So luong</td>
        <td>Tong tien</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iProduct_id</td>
            <td>@item.iTenProduct</td>
            <td><img src="@Url.Content("~/Content/images/placeholder/"+item.iImage)" style="width:50px;" /></td>
            <td>@item.iNumberProduct</td>
            <td>@item.iTotal</td>

        </tr>
    }
    <tr>*@
       
    @*</tr>
</table>*@
