@using VCMS.Lib.Resources;
@model VCMS.Lib.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/Areas/Manager/Content/Themes/FLATY/Bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Manager/Content/Themes/FLATY/flaty.css" />
</head>

<body class="login-page">
    <div class="login-wrapper">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            <h3>Login to your account</h3>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger input" })
            <hr>
            <div class="form-group">
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Strings.Email })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type="Password", @placeholder = Strings.Password })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary form-control">Sign In</button>
                </div>
            </div>
        }
    </div>
</body>
</html>