@{
    var url = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@ViewBag.MetaKeyword" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <title>@ViewBag.Title</title>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!--slick-->
    <script src="~/Scripts/Plugins/slick/slick.min.js"></script>
    <link href="~/Scripts/Plugins/slick/slick-theme.css" rel="stylesheet" />
    <script src="~/Scripts/Plugins/elementqueries/EQCSS.min.js"></script>

    <script type='text/javascript' src="~/Scripts/Plugins/jlinq/jlinq.js"></script>
    <script type='text/javascript' src="~/Scripts/Plugins/Map/markerclustererplus/src/markerclusterer.min.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBB5V34f3crBWyutuwFCy73IzRCdIwqUrI'></script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/taggd.css")

    <style>
        .active > a {
            color: #44d1cb;
        }

        .active > .card-title {
            color: #44d1cb;
        }
    </style>
    <link href="~/Content/Project.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.taggd.min.js")
</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="main-blog">
            <div class="container">
                @RenderBody()
            </div>
        </main>
        @Html.Partial("_Footer");
    </div>



    
    @RenderSection("scripts", required: false)
</body>
</html>
