<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@ViewBag.MetaKeyword"/>
    <meta name="description" content="@ViewBag.MetaDescription"/>
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/taggd.css")


    <link href="~/Content/Project.css" rel="stylesheet" />

</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="main-blog">
            <div class="container">
                 @RenderBody()
            </div>
        </main>
        @Html.Partial("_Footer");
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.taggd.min.js")

    <!--fancyBox-->
    <link href="~/Scripts/Plugins/fancyBox/jquery.fancybox-buttons.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/fancyBox/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/fancyBox/jquery.fancybox.css" rel="stylesheet" />

    <script src="~/Scripts/Plugins/fancyBox/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/Plugins/fancyBox/jquery.fancybox-buttons.js"></script>
    <script src="~/Scripts/Plugins/fancyBox/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/Plugins/fancyBox/jquery.fancybox-thumbs.js"></script>
    <script src="~/Scripts/Plugins/fancyBox/jquery.mousewheel-3.0.6.pack.js"></script>
    <!--fancyBox-->
    <!--easy tabs-->
    <script src="~/Scripts/Plugins/easyTabs/jquery.easytabs.min.js"></script>
    <script src="~/Scripts/Plugins/easyTabs/jquery.hashchange.min.js"></script>

    <!--slick-->
    <script src="~/Scripts/Plugins/slick/slick.min.js"></script>
    <link href="~/Scripts/Plugins/slick/slick-theme.css" rel="stylesheet" />

    <script type="text/javascript">
        $g = "";

        
        function Back() {
            $('#tabs2').hide(); //just in case
            $('#tabs2').html($g);
            $('#tabs2').fadeIn('slow');
            event.preventDefault();
        }

        function CollectionClick(data) {
            var urlAction = '/Project/_CollectionDetails?collectionId=' + data;

            $g = $('#tabs2').html();

            //$('#tabs2').html('<img id="loader-img" alt="" src="https://sire.uniandes.edu.co/pagos/javax.faces.resource/ajax-loader.gif.xhtml?ln=images" width="50" height="50" align="center" />');

            $.ajax({
                url: urlAction,
                type: 'GET',
                dataType: 'html',
                data: {},
            })
            .done(function (data) {
                console.log("success");
                $('#tabs2').hide(); //just in case
                $('#tabs2').html(data);
                $('#tabs2').fadeIn('slow');
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
            event.preventDefault();
        };

        function LayoutClick(data) {
            //$('#Collections').html('<img id="loader-img" alt="" src="https://sire.uniandes.edu.co/pagos/javax.faces.resource/ajax-loader.gif.xhtml?ln=images" width="50" height="50" align="center" />');
            var urlAction = '/Project/_Collections?layoutId=' + data;
            $.ajax({
                url: urlAction,
                type: 'GET',
                dataType: 'html',
                data: {},
            })
            .done(function (data) {
                console.log("success");
 
                $('#Collections').hide(); //just in case
                $('#Collections').html(data);
                $('#Collections').fadeIn('slow');
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
            event.preventDefault();
        };

        //slider home
        $(window).load(function () {

            $('#slider-bosutap').nivoSlider({
                effect: 'random',
                animSpeed: 500,
                pauseTime: 4000,
                startSlide: 0,
                directionNav: true,
                controlNav: false,
                //pauseOnHover: false,
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
            $(".fancybox").fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',

                helpers: {
                    title: {
                        type: 'inside'
                    }
                }
            });


        });

        $(document).ready(function () {

            //easy tabs
            $('#tab-container').easytabs();

            //-------------------------- Boxes -----------------------------//
            $('.box .box-tool > a').click(function (e) {

            });

            //slick
            $('.multiple-items').slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll: 1
            });


        });

    </script>

    <script type="text/javascript">
        //slider home
        $(window).load(function () {
            $('#slider-bosutap').nivoSlider({
                effect: 'random',
                animSpeed: 500,
                pauseTime: 4000,
                startSlide: 0,
                directionNav: true,
                controlNav: false,
                //pauseOnHover: false,
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".zoom_03").elevateZoom(
                   {
                       gallery: 'gallery_01',
                       cursor: 'pointer',
                       galleryActiveClass: "active",
                       imageCrossfade: true,
                       loadingIcon: "",
                       zoomWindowWidth: 400,
                       zoomWindowHeight: 400,
                       responsive: true,
                       borderSize: 1

                   });

            $(".zoom_03").bind("click", function (e) {
                var ez = $('.zoom_03').data('elevateZoom');
                ez.closeAll(); //NEW: This function force hides the lens, tint and window
                $.fancybox(ez.getGalleryList());
                return false;
            });

        });
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
