@{ 
    var url = "/homeclick";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/fonts/Stylesheet.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/Plugins/mixitup/jquery.mixitup.js"></script>
    <style>
        .typologies-item .mix{
	        display: none;
        }
    </style>
</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="site-main">
            <div class="container page-bosuutap">
                <div class="row breadcrumb">
                    <ul>
                        <li><a href="http://demo.vinabits.com.vn/homeclick/">Home</a></li>
                        <li>All typologies</li>
                    </ul>
                </div>
                <div class="row">
                    <aside id="sidebar">
                        @Html.Action("ListOfRooms", "Category")
                    </aside>
                    <div class="content-page ">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_Footer");
    </div>

    <script type="text/javascript">
        $.extend({
            getJsonFromUrl: function (url, urlData) {
                var result = null;
                $.ajax({
                    type: "GET",
                    url: url,
                    data: urlData,
                    dataType: "json",
                    async: false,
                    success: function (jsonResult) {
                        result = jsonResult;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve data.');
                    }
                })
                return result;
            }
        });

        function GetAllTypologies()
        {
            var url = '@Url.Action("GetAllTypologyJson")';
            var result = $.getJsonFromUrl(url, null);
            return result;
        }

        function showTypologies(data) {

            for (var i = 0; i < data.length; i++) {
                var models = '';
                for (var j = 0; j < data[i].models.length; j++) {
                    models = models + "model-" + data[i].models[j];
                    if (j < data[i].models.length - 1) {
                        models = models + " ";
                    }
                }

                var item = '<div class="item-image-tp mix ' + models + '" data-myorder="' + i + '" data-type="' + data[i].id + '">' +
                                '<a class="typology-link" href="#"><img src="' + '@url' + '/' + data[i].icon + '" /></a>' +
                                '<span>' + data[i].name + '</span>' +
                            '</div>';
                $('.typologies-item').append(item);
            }

            $('.typologies-item').mixItUp({
                load: {
                    filter: '.model-1'
                }
            });

            $('.item-image-tp').bind('click', function () {
                var data = $(this).data('type');
                var url = '@Url.Action("Index", "SanPham")' + '?model_id=' + currentModel + '&typo_id=' + data;
                window.location.href = url;
            });
        }


        var currentModel = -1;
        $(document).ready(function () {
            var data = GetAllTypologies();
            currentModel = $('.model-link').first().data('content');
            showTypologies(data);

            $('.model-link').bind('click', function () {
                currentModel = $(this).data('content');
            });
        });
    </script>
</body>
</html>
