<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/fonts/Stylesheet.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/taggd.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.taggd.min.js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        //slider home
        $(window).load(function () {
            $('#slider-bosutap').nivoSlider({
                effect: 'random',
                animSpeed: 500,
                pauseTime: 4000,
                startSlide: 0,
                directionNav: true,
                controlNav: false,
                //pauseOnHover: false,
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".zoom_03").elevateZoom(
                   {
                       gallery: 'gallery_01',
                       cursor: 'pointer',
                       galleryActiveClass: "active",
                       imageCrossfade: true,
                       loadingIcon: "",
                       zoomWindowWidth: 400,
                       zoomWindowHeight: 400,
                       responsive: true,
                       borderSize: 1

                   });

            $(".zoom_03").bind("click", function (e) {
                var ez = $('.zoom_03').data('elevateZoom');
                ez.closeAll(); //NEW: This function force hides the lens, tint and window
                $.fancybox(ez.getGalleryList());
                return false;
            });

        });

    </script>
</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="main-blog">
            <div class="container">
                <div class="row breadcrumb">
                    <ul>
                        <li><a href="http://demo.vinabits.com.vn/homeclick/">Home</a></li>
                        <li>Design</li>
                    </ul>
                </div>
                <div class="row">
                    <aside id="sidebar" class="col-md-3">
                        @Html.Action("Sidebar", "Design")
                    </aside>
                    <div class=" col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_Footer");
    </div>
</body>
</html>
