<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="site-main">
            <div class="container page-bosuutap">
                <div class="row breadcrumb">
                    @RenderSection("breadcrumb", false)
                </div>
                <div class="row">
                    <aside id="sidebar" class="col-sm-4 col-md-3">
                        @Html.Action("_Sidebar")
                    </aside>
                    <div class="content-page col-xs-12 col-sm-8 col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
    <script src="~/Content/js/homeclick.js"></script>
</body>
</html>

