<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/fonts/Stylesheet.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/taggd.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.taggd.min.js")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="main-models">
            <div class="container page-model">
                <div class="row breadcrumb">
                    <ul>
                        <li><a href="http://demo.vinabits.com.vn/homeclick/">Home</a></li>
                        <li>Bộ sưu tập</li>
                    </ul>
                </div>
                <div class="row">
                    <article id="sidebar" class="col-md-3">
                        @Html.Action("Sidebar", "BoSuuTap")
                    </article>
                    <div class="content-page col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_Footer")
    </div>
    <script type="text/javascript">
        //slider home
        $(window).load(function () {
            $("#slider-home").owlCarousel({
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                pagination: true,
                items: 1,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsMobile: false,
                navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
            });

            owl = $('#slider-home').owlCarousel();
            owl.on('translated.owl.carousel', function (event) {
                var activeImg = $(this).find('.active').find('img');
                var comment = activeImg.attr('alt');
                var title = activeImg.attr('title');
                var link = activeImg.data('link');
                if (comment) $('.slider-caption').html('<a href="' + link + '"><h3>' + title + '</h4></a>');
            });
        });
    </script>
</body>
</html>
