<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/fonts/Stylesheet.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/taggd.css")

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.taggd.min.js")
    @RenderSection("scripts", required: false)

    <style>
        .owl-theme .owl-controls {
            margin-top: 0px;
        }

        .owl-pagination {
            bottom: 80px;
        }
    </style>
</head>
<body>
    <div class="wapper">
        @Html.Partial("_Header")
        <main id="main" class="main-models">
            <div class="container page-model">
                <div class="row breadcrumb">
                    <ul>
                        <li><a href="http://demo.vinabits.com.vn/homeclick/">Home</a></li>
                        <li>Bộ sưu tập</li>
                    </ul>
                </div>
                <div class="row">
                    <article id="sidebar" class="col-md-3">
                        @Html.Action("Sidebar", "BoSuuTap")
                    </article>
                    <div class="content-page col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        @Html.Partial("_Footer")
    </div>
    <script type="text/javascript">
        //slider home
        $(window).load(function () {
            var owl = $('.owl-carousel');

            owl.owlCarousel({
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                pagination: true,
                items: 1,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsMobile: false,
                navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
            });

            owl.on('translated.owl.carousel', function (event) {
                var activeImg = $(this).find('.active').find('img');
                var comment = activeImg.attr('alt');
                var title = activeImg.attr('title');
                var link = activeImg.data('link');
                var templated = '<div>' +
                                    '<span class="slider-title">' +
                                        title +
                                '</span> <br />' +
                                '<a class="slider-link" href="' + link + '">' +
                                    'Xem' +
                                '</a>' +
                            '</div>';
                if (comment) $('.slider-caption').html(templated);
            });

            $(".list-category").affix({
                offset: {
                    top: $("#header").height() + 22,
                    bottom: $("#footer").height() + 40
                }
            });

            $('.table-section-header').toggleClass("active-show");
            $('.list-show .category-product-detail').slideToggle("slow");
        });
    </script>
</body>
</html>
