<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/fonts/Stylesheet.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.11.3.min.js")
    @Scripts.Render("~/Scripts/masonry.pkgd.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.imagemapster.min.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="wapper">
        <header id="header" class="site-header slide2">
            <div class="container">
                <div class="row">
                    <div class="logo-slide2">
                        <a href="@Url.Action("Index","Home")"><img src="~/Upload/Images/assets/logo.png" alt="" /></a>
                        <p>Online furniture store project</p>
                    </div>
                    <div class="menu-slide2">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Sigin</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header><!-- .site-header -->
        @RenderBody()

    </div>
</body>
</html>
