
@{
    ViewBag.Title = "AllTypologies";
    Layout = "~/Views/Shared/_LayoutAlltypologieschild.cshtml";
}
    <div class="all-tpologies">
        <div class="typologies">
            <div class="typologies-item col-md-12">
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/chairs.png" /></a>
                    <h3>@Html.ActionLink("Chair", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/sofa.png" /></a>
                    <h3>@Html.ActionLink("Sofa", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/stool.png" /></a>
                    <h3>@Html.ActionLink("Stool", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/lamp.png" /></a>
                    <h3>@Html.ActionLink("Lamp", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-6 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/table.png" /></a>
                    <h3>@Html.ActionLink("Table", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/accessories.png" /></a>
                    <h3>@Html.ActionLink("Accessories", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/cabinet.png" /></a>
                    <h3>@Html.ActionLink("Cabinet", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/chairs.png" /></a>
                    <h3>@Html.ActionLink("Chair", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/sofa.png" /></a>
                    <h3>@Html.ActionLink("Sofa", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/stool.png" /></a>
                    <h3>@Html.ActionLink("Stool", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/lamp.png" /></a>
                    <h3>@Html.ActionLink("Lamp", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-6 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/table.png" /></a>
                    <h3>@Html.ActionLink("Table", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/accessories.png" /></a>
                    <h3>@Html.ActionLink("Accessories", "Chair", "Html")</h3>
                </div>
                <div class="col-sm-3 item-image-tp">
                    <a href="@Url.Action("Chair","Html")"><img src="~/Upload/Images/cabinet.png" /></a>
                    <h3>@Html.ActionLink("Cabinet", "Chair", "Html")</h3>
                </div>
            </div>
        </div>
    </div>

