@using VCMS.Lib.Models.Business;
@model IList<Category>

@{
    ViewBag.Title = "Typologies";
    Layout = "~/Views/Shared/_SharedLayout.cshtml";

    var url = "";
}

<div class="all-tpologies">
    <div class="typologies clearfix">
        @foreach (var category in Model)
        {
            var categories = category.CategoryParents.ToList();
            var models = "";
            for (var j = 0; j < categories.Count; j++)
            {
                models = models + "model-" + categories[j].Id;
                if (j < categories.Count - 1)
                {
                    models = models + " ";
                }
            }

            <div class="col-xs-4 col-md-3 item-image-tp mix @models" data-myorder="@category.Order" data-type="@category.Id">
                <a class="typology-link" href="#"><img src="@Url.GetImageUploadFolder()@category.Details["icon"]" /></a>
                <span>@category.Name</span>
            </div>
        }
    </div>

</div>

@section breadcrumb {
     <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li>All typologies</li>
    </ul>
}

@section styles {
    <style>
        .typologies {
            overflow:hidden;
        }
        .typologies .mix {
            display: none;
        }
        
    </style>
}

@section scripts {
    <script src="~/Scripts/Plugins/mixitup/jquery.mixitup.js"></script>

    <script type="text/javascript">
        var currentModel = -1;
        $(document).ready(function () {
            currentModel = $('.model-link').first().data('content');
            $('.typologies').mixItUp({
                pagination: {
                    limit: 8,
                    generatePagers: !0,
                },
                load: {
                    filter: '.model-1'
                }
            });

            $('.item-image-tp').bind('click', function () {
                var data = $(this).data('type');
                var url = '@Url.Action("Category", "SanPham")' + '?category_id=' + currentModel + '&typo_id=' + data;
                window.location.href = url;
            });

            $('.model-link').bind('click', function () {
                currentModel = $(this).data('content');
            });
        });
    </script>
}