@using VCMS.Lib.Common
@using VCMS.Lib.Resources

@{
    ViewBag.Title = Strings.Posts;
}
<div>
    <div class="clearfix content m-b-15">
        <div class="clearfix">
            @Html.DropDownList(ConstantKeys.CATEGORIES,
                               new SelectList(ViewData[ConstantKeys.CATEGORIES] as IQueryable, "Id", "Name", null),
                               new { @class = "extra-search form-control pull-left", style = "width:200px;" })
            <button id="FilterButton" class="btn form-control pull-left m-l-15" style="width:auto;">Filter</button>
        </div>
    </div>
    <div class="clearfix content">
        <div class="clearfix btn-toolbar">
            <div class="btn-group pull-right">
                <a class="btn btn-circle show-tooltip" title="" href="#" data-original-title="Delete selected" data-toggle="modal" data-target="#deleteConfirmModal"><i class="fa fa-trash-o"></i></a>
                <a class="btn btn-circle show-tooltip disabled" title="" href="#" data-original-title="Refresh"><i class="fa fa-repeat"></i></a>
            </div>
            <div class="btn-group pull-right" data-toggle="buttons-checkbox">
                <a class="btn btn-circle show-tooltip" href="@Url.Action("Create")" data-original-title="Create new post"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <hr/>
        <table id="dataTable" class="table table-hover fill-head">
            <thead>
                <tr>
                    <th style="width:18px;">
                        <input type="checkbox" />
                    </th>
                    <th>
                        @Strings.Title
                    </th>
                    <th>
                        @Strings.Author
                    </th>
                    <th>
                        @Strings.Categories
                    </th>
                    <th>
                        @Strings.Time
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@Html.Partial("Widgets/DeleteConfirmModal")

@section breadcrumb {
    <li>
        <a href="@Url.Action("Dashboard","Pages")">
            <i class="fa fa-home"></i> Home
        </a>
        <span class="divider"><i class="fa fa-angle-right"></i></span>
    </li>
    <li class="active">@ViewBag.Title</li>
}

@section styles {
    @Styles.Render("~/bundles/manager/datatables/css")
}

@section scripts {
    @Scripts.Render("~/bundles/manager/datatables")
    <script src="~/Areas/Manager/Content/lib/moment.js"></script>
    <script>
        var dataTable = $('#dataTable').DataTable({
            autoWidth: false,
            serverSide: true,
            ajax: {
                type: "POST",
                url: '@Url.Action("DataHandler")',
                contentType: 'application/json; charset=utf-8',
                data: function (data) {
                    var extraSearchs = $('.extra-search');
                    if (extraSearchs.length > 0) {
                        data.args = {};
                        for (var i = 0; i < extraSearchs.length; i++) {
                            var current = $(extraSearchs[i]);
                            if (current.attr('id') && current.val())
                                data.args[current.attr('id')] = current.val();
                        }
                    }
                    return JSON.stringify(data);
                }
            },
            processing: true,
            columns: [
               { "data": '@ConstantKeys.ID', render: function (data, type, full, meta) { return '<input type="checkbox" class="select-item" value="' + data + '"/>' } },
               { "data": '@ConstantKeys.TITLE', render: function (data, type, full, meta) { return '<a href="@Url.Action("Edit")?role_id=' + full.id + '">' + data + '</a> '; } },
               { "data": '@ConstantKeys.AUTHOR' },
               { "data": '@ConstantKeys.CATEGORIES' },
               {
                   "data": '@ConstantKeys.TIME', render: function (data, type, full, meta) {
                       return '<i class="fa fa-lock"></i> ' + moment(data).format("MM/DD/YYYY HH:mm");
                   }},
            ],
            order: [[1, 'asc']],
            columnDefs: [
                { "searchable": false, "orderable": false, "targets": 0 },
                { "searchable": false, "orderable": false, "targets": 2 },
                { "searchable": false, "orderable": false, "targets": 3 },
                { "searchable": false, "orderable": false, "targets": 4 }
            ]
        });
        $('.table-refresh-btn').on('click', function () {
            dataTable.ajax.reload();
        });

        $('#FilterButton').on('click', function () {
            window.location.href('@Url.Action("List")/category_id=' + $('#@ConstantKeys.CATEGORIES').val());
        });
    </script>
    @Html.RenderDelayed("DeleteConfirmModalAjax-script")
}
