@using VCMS.Lib.Common;
@using VCMS.Lib.Models;
@using VCMS.Lib.Models.Business;

@model Product

@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    Layout = "~/Views/Shared/_SharedLayout_NoSidebar.cshtml";
    var iUrl = Url.GetImageUploadFolder();
    var details = Model.DetailsToDictionary();
    var materials = Model.Materials;   
}

<div class="single-product">
    <input type="hidden" value="@Model.Id" id="modelId" />
    @{
        <div class="image col-sm-5 col-md-4">
            <div class="elevatezoom-wrapper">

            </div>
        </div>

        <div class="sumary col-sm-7 col-md-8">
            <h3 class="single-product-title">@Model.name</h3>
            <div class="sg-prince">
                <div class="number-prince">@Convert.ToInt32(details[ProductDetailTypes.Price]).ToString("#,###", info.NumberFormat) vnđ</div>
            </div>

            <div class="form-add-to-cart">
                @using (Html.BeginForm("AddItemToCard", "Cart", new { @Id = @Model.Id, @returnUrl = Request.Url.ToString(), @class= "form-horizontal" }))
                {
                    <div class="form-group">
                        <label class="control-label">Chất liệu</label>
                        <div class="controls">
                            @Html.DropDownList("material", materials.Select(o => new SelectListItem { Value = o.Id.ToString(), Text =o.Name}), new {@class= "form-control", style="width:150px;" })
                        </div>
                    </div>
                    <div class="colors-wrapper clearfix">
                        <div class="wrapper-title">
                            <label class="control-label">Màu sắc</label>
                        </div>
                        <div class="wrapper-content">
                            @{ var colors = materials.FirstOrDefault().Children.Intersect(Model.Product_Variants);}
                            @foreach (var color in colors)
                            {
                                <label class="radio-image image-preview">
                                    <input type="radio" name="@ProductVarianTypes.Color.ToString()" value="@color.Id" />
                                    <img src="@iUrl@color.ImageFile.FullFileName" alt="@color.Name" />
                                </label>
                            }
                        </div>
                    </div>
                    <div id="quality">
                        <div class="wrapper-title">
                            <label>Số lượng</label>
                        </div>
                        <div class="quantity wrapper-content">
                            <span class="minus">-</span>
                            <input type="number" step="1" min="0" value="1" title="Qty" class="qty" size="4" name="quantity">
                            <span class="plus">+</span>
                        </div>
                        <div class="add-shop">
                            @if (Model.Status)
                            {
                                <input class="input add-to-cart" type="submit" value="Đặt hàng" />
                            }
                            else
                            {
                                <input class="input add-to-cart" disabled="disabled" type="submit" value="Hết hàng" />
                            }
                        </div>
                    </div>
                }
            </div>
            <hr />

            <div class="detail-product">
                <h3 class="detail-product-title" hidden="hidden">Chi tiết</h3>
                <div class="detail-product-content">
                    <h3>Chi tiết</h3>
                    @{var escaped = new HtmlString(Model.content);}
                    <p>@escaped</p>
                    <p><span>Kích thước:</span>@details[ProductDetailTypes.Size]</p>
                    <p><span>Trọng lượng:</span>@details[ProductDetailTypes.Weight] kg</p>
                    <p><span>Bảo hành:</span>@details[ProductDetailTypes.Warranty] Tháng</p>
                    <p><span>Xuất xứ:</span>@details[ProductDetailTypes.MadeIn]</p>
                </div>
            </div>

            <ul class="product-social clearfix">
                <li>
                    <a href="#">
                        <img src="~/Upload/Images/assets/icon_instr.png" height="20" width="20" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Upload/Images/assets/icon_facebook.png" height="20" width="9" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Upload/Images/assets/icon_pint.png" height="20" width="14" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Upload/Images/assets/icon_google.png" height="20" width="20" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Upload/Images/assets/icon_e.png" height="18" width="16" alt="">
                    </a>
                </li>
            </ul>
            @*
                <div class="Share-product">
                    <span class='st_facebook_large'></span>
                    <span class='st_twitter_large'></span>
                    <span class='st_googleplus_large'></span>
                    <span class='st_pinterest_large'></span>
                </div>
                <script type="text/javascript">stLight.options({ publisher: "fe9119ac-4400-41f7-90df-64d76f41b1ac", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>*@
        </div>
    }
</div>


@section breadcrumb {
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("Index")">Sản phẩm</a></li>
        <li>@Model.name</li>
    </ul>
}

@section styles {
    <link href="~/Scripts/Plugins/fancyBox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/slick/slick-theme.css" rel="stylesheet" />
    <style>
        .elevatezoom-wrapper {
            margin-bottom: 15px;
        }

        .zoomWrapper {
            border: 1px solid lightgray;
            margin-bottom: 3px;
        }

        #elevatezoom-gallery {
            height: auto !important;
            overflow: hidden;
            position: relative;
        }

        .elevatezoom-thumb {
            float: left;
            margin: 0 2px 0 0;
            border: 1px solid lightgray;
        }

        .elevatezoom-img {
            position: absolute !important;
        }

        .slick-prev, .slick-next {
            height: 100%;
            background: rgba(50,50,50,.5);
            color: white;
        }

            .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
                color: transparent;
                outline: none;
                background: rgba(50,50,50,.3);
            }

            .slick-prev:before, .slick-next:before {
                color: white;
            }
    </style>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.elevatezoom.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugins/shareThis/button.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugins/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugins/fancyBox/jquery.fancybox.pack.js"></script>

    <script type="text/javascript">

        function colorChanged(a) {
            $('.elevatezoom-wrapper').empty();
            var url = '@Url.Action("GetImages")';
            $.ajax({
                url: url,
                data: { 'variantId': a, 'productId': $('#modelId').val() },
                success: function (data) {
                    if (data.length > 0) {
                        var iUrl = '@iUrl';
                        var img = $('<img/>').addClass('elevatezoom-img')
                            .attr('src', iUrl + data[0])
                            .data('zoom-image', iUrl + data[0]).hide()
                            .appendTo('.elevatezoom-wrapper').fadeIn('slow');
                        var gallery = $('<div/>')
                            .attr('id', "elevatezoom-gallery").hide()
                            .appendTo('.elevatezoom-wrapper').fadeIn('slow');

                        for (var i = 0; i < data.length; i++) {
                            var thumb = $('<div/>')
                                .addClass('elevatezoom-thumb')
                                .appendTo(gallery);
                            var a = $('<a/>')
                                .addClass('item')
                                .attr('href', '#')
                                .data('image', iUrl + data[i])
                                .data('zoom-image', iUrl + data[i])
                                .appendTo(thumb);
                            var tImg = $('<img/>')
                                .attr('src', iUrl + data[i])
                                .appendTo(a);
                        }

                        img.elevateZoom(
                          {
                              gallery: 'elevatezoom-gallery',
                              cursor: 'pointer',
                              galleryActiveClass: "active",
                              imageCrossfade: true,
                              loadingIcon: "",
                              constrainSize: 274,
                              zoomType: "lens",
                              containLensZoom: true,
                              responsive: true,
                              borderSize: 1
                          });

                        img.bind("click", function (event) {
                            var ez = $(this).data('elevateZoom');
                            ez.closeAll(); //NEW: This function force hides the lens, tint and window
                            $.fancybox(ez.getGalleryList());
                            event.preventDefault();
                        });

                        gallery.slick({
                            infinite: true,
                            dots: false,
                            slidesToShow: 3,
                            slidesToScroll: 3
                        });
                    }
                }
            })
        };

        $(function () {
            $('input[type=radio][name=@ProductVarianTypes.Color.ToString()]').change(function () {
                colorChanged(this.value);
            });

            var fc = $('input[type=radio][name=@ProductVarianTypes.Color.ToString()]').first();
            fc.attr('checked', true);
            colorChanged(fc.val());
        });
    </script>

}
