@model IEnumerable<Homeclick.Models.Product>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = null;
}

<div class="part-page product-feature" id="list_product_feature">
    <div class="title-page title-feature">
        <h1 class="">@ViewBag.Title</h1>
    </div>
    <div class="content-product-feature">
        <div class="feature-item row">
            @*
                @foreach (Product item in Model)
                {
                    String url = "";
                    Dictionary<string, object> arrayItem = item.ToArray();
                    Dictionary<string, object> details = arrayItem["Product_detail"] as Dictionary<string, object>;
                    <div class="item-product col-md-4">
                        <div class="image">
                            <a href="@Url.Action("Product_Detail","SanPham", new {@Id=@item.Id})"><img src="@url/@item.image" alt="" /></a>
                        </div>
                        <div class="detail-item">
                            <h3 class="title-item"><a href="@Url.Action("Product_Detail","SanPham", new {@Id=@item.Id})">@item.name</a></h3>
                            <p>@if (details.Keys.Contains("gia") && details["gia"] != null) { @details["gia"].ToString(); } đ</p>
                      </div>
                  </div>
                }
            *@
        </div>
    </div>
</div>
