@using Homeclick.Models;
@model IList<Category>
@{ 
    ViewBag.SideTitle = "Sản phẩm";
    ViewBag.type = "model";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<div class="list-category sidebar">
    <h3 class="title-sidebar title-cate-sidebar">@ViewBag.SideTitle</h3>
    <ul class="nav">
        @foreach (Category item in Model)
        {
            <li class="model-link" data-model="@item.Id">
                <a href="#">@item.name</a>
                @{ IList<Category> descendants = item.getDescendantCategories(); }

                <ul class="descendant-cat">
                    <li class="typo-link" data-model="@item.Id" data-typo="-1">
                        <a href="#">All</a>
                    </li>
                    @if (descendants.Count > 0)
                    {
                        foreach (Category des in descendants)
                        {
                            var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

                            <li class="typo-link" data-model="@item.Id" data-typo="@des.Id">
                                <a href="#">@des.name</a>
                            </li>
                        }
                    }
                </ul>

            </li>
                    }
    </ul>
    <hr />
    <h4>Chất liệu</h4>
    <div class="product-metarials">
        <ul class="material-list">

        </ul>
    </div>
    <hr />
    <h4>Giá</h4>
    <div id="slider-snap" class="noUi-target noUi-ltr noUi-horizontal noUi-background">

    </div>
    Từ: <span class="example-val" id="slider-snap-value-lower"></span><br />
    Đến: <span class="example-val" id="slider-snap-value-upper"></span>

    @*
        @if(ViewBag.type == "all") {
            <ul>
                @foreach (Category item in Model)
                {
                    <li><a href="@item.getActionLink()">@item.name</a></li>
                }
            </ul>
        }
        else if (ViewBag.type == "model")
        {
        <ul class="nav">
            @foreach (Category item in Model)
            {
                <li class="model-link" data-content="@item.Id">
                   <a href="#model-@item.Id">@item.name</a>
                   @{ IList<Category> descendants = item.getDescendantCategories(); }

                        <ul class="descendant-cat">
                        <li data-content="-1">
                            @Html.ActionLink("All", "Model", "Category", new { @id = item.Id },null)
                        </li>
                @if (descendants.Count > 0)
                {
                    foreach(Category des in descendants)
                    {
                        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

                        <li data-content="@des.Id">
                            @Html.ActionLink(des.name, "ListProduct", "Sanpham", new { @model_id = item.Id, @typo_id = des.Id }, null);
                        </li>
                    }
                }
                </ul>

                </li>
            }
        </ul>
        }
        else if (ViewBag.type == "typology")
        {
            <ul>
                @foreach (Category item in Model)
                {
                    <li>
                        <a href="@Url.Action("Typology", "Category", new { @id = @item.Id })">@item.name</a>
                        @{ IList<Category> typos = item.getDescendantCategories();}
                        @if (typos.Count > 0)
    {
                            <ul class="descendant-cat">
                                @foreach (Category typo in typos)
                                {
                                    <li><a href="@Url.Action("Typology", "Category", new { @id = @typo.Id })">@typo.name</a></li>
                                }
                            </ul>
                        }
                    </li>

                }
            </ul>
        }
    *@
</div>


