@using VCMS.Lib.Resources
@using VCMS.Lib.Models.Business
@model ParentChildViewModel
@{
    var room = ViewBag.CategoryParent as Category;
    ViewBag.Title = room.Name;
    ViewBag.FormName = "Add typology to " + room.Name;
    Layout = "~/Areas/Manager/Views/Shared/_Layout_Form.cshtml";
}

@if (ViewData["Success"] != null && (bool)ViewData["Success"])
{
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Success!</strong> The <strong>@ViewData["SuccessObjectName"]</strong> has been added.
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ParentId)
        <div class="form-group">
            <label class="col-md-2 control-label" for="ProductId">Typology</label>
            <div class="col-md-10">
                <div class="form-control-custom">
                    @Html.DropDownListFor(model => model.ChildId, ViewBag.Typologies as IEnumerable<SelectListItem>, new { data_placeholder = "Select a products", @class = "form-control chosen-with-diselect", style = "display: none;" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Strings.Add" />
            </div>
        </div>
    </div>
}

@section breadcrumb {
    @{
        var viewName = Html.ViewContext.RouteData.GetRequiredString("action");
    }
    <li>
        <a href="@Url.Action("Dashboard","Pages")">
            <i class="fa fa-home"></i> Home
        </a>
        <span class="divider"><i class="fa fa-angle-right"></i></span>
    </li>
    <li>
        <a href="@Url.Action("Index", new { id = room.Id})">
            @ViewBag.Title
        </a>
        <span class="divider"><i class="fa fa-angle-right"></i></span>
    </li>
    <li class="active">@ViewBag.FormName</li>
}

@section ActionLinks {
    <div>
        @Html.ActionLink("Back to list", "Index", new { id = Model.ParentId})
    </div>
    }

@section Styles {
    <link href="~/Areas/Manager/Content/lib/jquery-chosen/Chosen.min.css" rel="stylesheet" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Areas/Manager/Content/lib/jquery-chosen/chosen.jquery.min.js"></script>
}
