@using VCMS.Lib.Resources
@using VCMS.Lib.Models
@using VCMS.Lib.Models

@model Category

@{
    ViewBag.Title = Model.Name;
}
<p>
    <a href="@Url.Action("Create", new { categoryId = Model.Id})" class="btn btn-lime"><i class="fa fa-plus" aria-hidden="true"></i> @Strings.CreateNew</a>
</p>

@Html.HiddenFor(m => m.Id, new {@class = "extra-search", data_key= (int)CategoryTypes.ProductVariant})

<table id="dataTable" class="table table-striped table-hover fill-head" >
    <thead>
        <tr>
            <th>
                @Strings.Name
            </th>
            <th>
            </th>
        </tr>
    </thead>
</table>

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Delete</h4>
            </div>
            <div class="modal-body">
                <p></p>
                <input type="hidden" id="hiddenId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary btn-yes">Yes</button>
            </div>
        </div>
    </div>
</div>

@section breadcrumb {
    @{
        var viewName = Html.ViewContext.RouteData.GetRequiredString("action");
    }
    <li>
        <a href="@Url.Action("Dashboard","Pages")">
            <i class="fa fa-home"></i> Home
        </a>
        <span class="divider"><i class="fa fa-angle-right"></i></span>
    </li>
    <li>@ViewBag.Title</li>
}

@section styles {
    @Styles.Render("~/bundles/manager/datatables/css")
    }

@section scripts {
    @Scripts.Render("~/bundles/manager/datatables")

    <script>
        var simple_linkBtns = function (data, type, full, meta) {
            var param = '?id=' + data;
            return   '<div class="table-action">' +
                        '<a class="btn btn-sm show-tooltip" data-placement="top" data-original-title="Edit" href="@Url.Action("Edit")' + param + '" data-original-title="Edit"><i class="fa fa-edit"></i></a>' +
                        '<a class="btn btn-sm btn-danger show-tooltip" data-placement="top" data-original-title="Delete" href="#" data-toggle="modal" data-target="#deleteConfirmModal" data-id="' + data +'"><i class="fa fa-trash"></i></a>' +
                    '</div>';
        }

        $(document).ready(function () {
            var table = $('#dataTable');
            var dataTable = table.DataTable({
                "autoWidth": false,
                "serverSide": true,
                "ajax": {
                    "type": "POST",
                    "url": '@Url.Action("DataHandler")',
                    "contentType": 'application/json; charset=utf-8',
                    'data': function (data) {
                        data.args = {};
                        var extra = $('.extra-search');
                        for (var i = 0; i < extra.length; i++) {
                            var current = $(extra[i])
                            if (current.data("key") && current.val()) {
                                data.args[current.data("key")] = current.val();
                            }
                        }
                        return data = JSON.stringify(data);
                    }
                },

                responsive: false,

                "columns": [
                   { "data": "Name" },
                   { "data": "Id", "render": simple_linkBtns }],

                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 1,
                }],
                "drawCallback": function (settings) {
                    $('.show-tooltip').tooltip({ container: 'body', delay: { show: 500 } });
                    $('.show-popover').popover();
                }
            });

            $('#deleteConfirmModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var objId = button.data('id');
                var modal = $(this);
                modal.find('.modal-body p').text('You are sure?');
                modal.find('.modal-body input').val(objId);
            });

            $('#deleteConfirmModal').on('click', '.btn-yes', function (e) {
                var $modalDiv = $(e.delegateTarget);
                var input = $modalDiv.find('.modal-body input');
                var objId = input.val();
                var url = '@Url.Action("Delete")';
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    data: { 'id': objId },
                    success: function (data) {
                        if (data === 'Success') {
                            $modalDiv.modal('hide');
                            dataTable.ajax.reload();
                        }
                        else
                            $modalDiv.find('.modal-body p').empty().append(data);
                    }
                });
            });
        });

        
    </script>
}
