@using VCMS.Lib.Models
@using VCMS.Lib.Models.Business

@model IEnumerable<Product>
@{
    var total = Model.Count();
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var url = "";
}
<div id="product-grid" class="content-product-feature">
    <h6 class="number-items section-header">@total Sản phẩm</h6>
    <div id="grid-content" class="feature-items row">
        @foreach (var item in Model)
            {
                Dictionary<string, object> details = item.DetailsToDictionary();
                <div class="item-product col-xs-6 col-sm-4">
                    <div class="image">
                        <a href="@Url.Action("Product_Detail","SanPham", new {@Id=@item.Id})"><img src="@Url.GetImageUploadFolder()@item.Image.Id@item.Image.Extension" alt="" /></a>
                    </div>
                    <div class="detail-item">
                        <h5 class="title-item"><a href="@Url.Action("Product_Detail","SanPham", new {@Id=@item.Id})">@item.name</a></h5>
                        <p>@Convert.ToInt32(details[ProductDetailTypes.Price]).ToString("#,###", info.NumberFormat) vnđ</p>
                    </div>
                </div>
            }
    </div>
</div>
