@using VCMS.Lib.Models;
@using VCMS.Lib.Models.Business;

@model IList<Category>
@{ 
    var categoryId = int.Parse(Request.Params["category_id"] ?? "-1");
}

<div class="sidebar">
    <div class="box">
        <div class="box-title">
            <h3 class="title-sidebar title-cate-sidebar">Bộ sưu tập</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="nav-arrow"></i></a>
            </div>
        </div>
        <div class="box-content clearfix">
            <ul class="nav">
                @foreach (Category item in Model)
                {
                    var children = item.CategoryChildren;

                    <li class="@Html.Raw(children.Select(o=> o.Id).Contains(categoryId) || item.Id == categoryId ? "active" : "")" data-category="@item.Id">
                        <a href="@Url.Action("Category",new { category_id = item.Id})">@item.Name</a>

                        <ul class="descendant-cat">
                            @if (children.Count() > 0)
                            {
                                foreach (var child in children)
                                {
                                    <li class="@Html.Raw(categoryId == child.Id ? "active" : "")">
                                        <a href="@Url.Action("Category", new { category_id = child.Id})">@child.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                 }
            </ul>
        </div>
    </div>
</div>
