@using Homeclick.Models
@using System.Collections.Generic
@model ProjectLayout_Collection
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_SharedLayout.cshtml";
    var db = new vinabits_homeclickEntities();
    var categories = ModelHelper.getParents<Category>(typeof(Category).Name, db.GetTableName<ProjectLayout_Collection>() , Model.Id);
    var tableItems = ViewBag.TableItems as IEnumerable<ProjectLayout_Collection_Product_Link>;
    var products = ViewBag.Products as IEnumerable<Product>;
    var otherCollections = ViewBag.OtherCollections as IEnumerable<CollectionViewModel>;
    var url = "";
    var categoryValue = Request.RequestContext.RouteData.Values["category_id"];

}
<div class="row">
    <div class="col-xs-12">
        <div class="details-title">
            <span>@Model.Name</span>
        </div>

        <div class="meta-primary">
            <span class="meta-categories label label-success">
                @foreach (var cat in categories)
            {
                    <a class="meta-link" href="#">@cat.name</a>
                    if (cat != categories)
                    {
                        Html.Raw(", ");
                    }
                }
            </span>
        </div>

        <div class="widget clearfix">
            @if (Model.LayoutId != null)
            {
                <span>Bộ sưu tập nằm trong dự án <strong>@Model.Layout.Project.Name</strong></span>
                <div class="Collection-button">
                    <a href="@Url.Action("Details","Project", new { category_id = Model.Layout.Project.CategoryId, project_id = Model.Layout.ProjectId })">Xem dự án</a>
                </div>
            }
        </div>

        <div class="" role="img">
            <img src="@url/@Model.Image" />
        </div>

        <article class="collection-description">
            @Html.Raw(Model.HtmlContent)
        </article>

        <section class="col-xs-12 product-list-section list-show">
            @Html.Partial("../Project/_ProductsTable", tableItems)

            @Html.Partial("../Project/_ProductsGrid", products)
        </section>
    </div>
    <div class="col-xs-12" style="margin-top: 15px;">
        <button class="add-to-cart btn bg pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Thêm vào giỏ</button>
    </div>
    <div class="col-xs-12">
        <hr style="width:100%;" />
    </div>
    <section role="grid" class="col-xs-12">
        <div class="category-title">
            <span>
                Các bộ sưu tập khác
            </span>
            <a href="/BoSuuTap/@otherCollections.First().categoryId">Xem thêm >></a>
        </div>
        @Html.Partial("_CollectionGrid", otherCollections)
    </section>
</div>



@section breadcrumb {
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("Index","BoSuuTap")">Bộ sưu tập</a></li>
        <li>@Model.Name</li>
    </ul>
}

@section styles {
    <style>
    </style>
}

@section scripts {
    <script type="text/javascript">
        $(window).load(function () {
            $('.table-section-header').toggleClass("active-show");
            $('.list-show .category-product-detail').slideToggle("slow");
        });
    </script>
}