@using VCMS.Lib.Models
@using VCMS.Lib.Models

@model Post
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_SharedLayout.cshtml";
    var categoryId = int.Parse(Request.Params["category_id"]);
}
<div class="row">
    <div class="col-xs-12">
        <h1>@Model.Title</h1>
        <div class="meta-primary m-b-15">
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li class="meta-categories label label-success m-r-2">
                        <a class="meta-link" href="@Url.Action("Category", new { category_id = category.Id})">@category.Name</a>
                    </li>
                }
            </ul>
        </div>

        @*
        <div class="widget clearfix">
            @if (Model.LayoutId != null)
            {
                <span>Bộ sưu tập nằm trong dự án <strong>@Model.Layout.Project.Name</strong></span>
                <div class="Collection-button">
                    <a href="@Url.Action("Details","Project", new { category_id = Model.Layout.Project.CategoryId, project_id = Model.Layout.ProjectId })">Xem dự án</a>
                </div>
            }
        </div>
        *@
        @if (Model.Files.Count > 0)
        {
            <div class="owl-carousel">
                @foreach (var file in Model.Files)
                {
                    <div class="item">
                        <img src="@Url.GetImageUploadFolder()@file.FullFileName" title="@Model.Title" alt="@Model.Title">
                    </div>
                }
            </div>
        }
        else
        {
            <div class="full-width">
                <img src="@Url.GetImageUploadFolder()@Model.ImageFile.FullFileName" title="@Model.Title" alt="@Model.Title">
            </div>
        }

        <article class="collection-description">
            @Html.Raw(Model.Content)
        </article>

        <section class="col-xs-12 product-list-section list-show">
            @Html.Partial("_productsTable", Model.Post_ProductOptions)
            @Html.Partial("_productsGrid", Model.Post_ProductOptions.Select(o => o.ProductOption.Product))
        </section>
        <div class="clearfix" style="margin-top: 15px;">
            <button class="add-to-cart btn bg pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Thêm vào giỏ</button>
        </div>

        <hr style="width:100%;" />
        <section>
            <div class="category-title">
                <span>
                    Các bộ sưu tập khác
                </span>
                <a href="@Url.Action("Category", new { category_id = categoryId})">Xem thêm >></a>
            </div>
            @Html.Partial("_collectionGrid", ViewBag.OtherCollections as IEnumerable<Post>)
        </section>
    </div>
</div>



@section breadcrumb {
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("Index","BoSuuTap")">Bộ sưu tập</a></li>
        <li>@Model.Title</li>
    </ul>
}

@section styles {
    @Styles.Render("~/content/lib/owl-carousel/css")
}

@section scripts {
    @Scripts.Render("~/content/lib/owl-carousel/js")
}