@using VCMS.Lib.Models.Business
@model Dictionary<Category, IEnumerable<Post>>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_SharedLayout.cshtml";
}

<section role="slider">
    <div class="owl-carousel">
        @foreach (var post in ViewBag.Slides as IEnumerable<Post>)
        {
            <div class="full-width">
                <img src="@Url.GetImageUploadFolder()/@post.ImageFile.FullFileName" title="@post.Title" alt="@post.Title">
            </div>
        }
    </div>
</section>

@foreach (var pair in Model)
{
    var list = pair.Value;
    <section>
        <div class="category-title">
            <span>
                @pair.Key.Name
            </span>
            <a href="@Url.Action("Index", new { id = pair.Key.Id})">Xem thêm >></a>
        </div>
        <div class="grid-content clearfix">
            @foreach (var item in pair.Value)
            {
                var link = Url.Action("Detail", new { category_id = item.Categories.FirstOrDefault(o => o.CategoryParents.FirstOrDefault() == pair.Key).Id, collection_id = item.Id });
                <div class="collection-item col-sm-4">
                    <div class="collection-inner">
                        <div class="image">
                            <a href="@link"><img src="@Url.GetImageUploadFolder()@item.ImageFile.FullFileName" alt="" /></a>
                        </div>
                        <div class="collection-detail">
                            <span class="collection-name">
                                <a href="@link">@item.Title</a>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>    
    </section>
    <hr style="margin: 20px -15px;" />
}

@section breadcrumb {
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li>Bộ sưu tập</li>
    </ul>
}

@section styles {
    @Styles.Render("~/content/lib/owl-carousel/css")
}

@section scripts {
    @Scripts.Render("~/content/lib/owl-carousel/js")
}