@using VCMS.Lib.Models.Business
@model Dictionary<string, IEnumerable<Post>>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_SharedLayout.cshtml";
    var categoryValue = Request.RequestContext.RouteData.Values["category_id"];
}

@*Html.Partial("_Slider", slides)*@

@foreach (var pair in Model)
{
    var list = pair.Value;
    <section>
        <div class="category-title">
            <span>
                @pair.Key
            </span>
            <a href="@Url.Action("Index", new { id = pair.Key})">Xem thêm >></a>
        </div>
        <div class="grid-content clearfix">
            @foreach (var item in pair.Value)
            {
                var link = Url.Action("Detail", new { category_id = pair.Key, collection_id = item.Id });
                <div class="collection-item col-sm-4">
                    <div class="collection-inner">
                        <div class="image">
                            <a href="@link"><img src="@Url.GetImageUploadFolder()@item.ImageFile.FullFileName" alt="" /></a>
                        </div>
                        <div class="collection-detail">
                            <span class="collection-name">
                                <a href="@link">@item.Title</a>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>    
    </section>
    <hr style="margin: 20px -15px;" />
}

@section breadcrumb {
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li>Bộ sưu tập</li>
    </ul>
}

@section styles {
    <style>
    </style>
}

@section scripts {
    <script type="text/javascript">

        //slider home
        $(window).load(function () {
            var owl = $('.owl-carousel');

            owl.owlCarousel({
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                pagination: true,
                items: 1,
                itemsDesktop: false,
                itemsDesktopSmall: false,
                itemsTablet: false,
                itemsMobile: false,
                navigationText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
            });

            owl.on('translated.owl.carousel', function (event) {
                var activeImg = $(this).find('.active').find('img');
                var comment = activeImg.attr('alt');
                var title = activeImg.attr('title');
                var link = activeImg.data('link');
                var templated = '<div>' +
                                    '<span class="slider-title">' +
                                        title +
                                '</span> <br />' +
                                '<a class="slider-link" href="' + link + '">' +
                                    'Xem' +
                                '</a>' +
                            '</div>';
                if (comment) $('.slider-caption').html(templated);
            });

            $('.table-section-header').toggleClass("active-show");
            $('.list-show .category-product-detail').slideToggle("slow");
        });
    </script>
}