@model IEnumerable<Homeclick.Models.ProjectItem>
@{
    var url = "";
}

<div class="title">
    <span> Layout mẫu</span>
</div>

<div id="layoutContainer">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-3 layoutItem">
            <div class="card card-shadow" data-content="@item.Id" data-name="@item.Name" data-image="@item.Image">
                <div>
                    <a>
                        <img style="height:auto; width:100%" src="@item.Image" alt="@item.Description" />
                    </a>
                </div>
                <div class="card-title">
                    <i class="fa fa-circle" aria-hidden="true"></i><span>@item.Name</span>
                </div>
            </div>
        </div>
    }
</div>