@using VCMS.Lib.Models
@model IEnumerable<Category>

@{
    var category_id = Request.Params["category_id"];
}

<div class="sidebar-box">
    <div class="box">
        <div class="box-title">
            <h3 class="title-sidebar title-cate-sidebar">Dự án</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="nav-arrow"></i></a>
            </div>
        </div>
        <div class="box-content clearfix">
            <ul class="category-list">

                <li class="category-link @Html.Raw((category_id == null)? "active" : "")"><a href="#">Tất cả</a></li>
                @foreach (var item in Model)
                {
                    <li class="category-link @Html.Raw((category_id != null) && (category_id == item.Id.ToString()) ? "active" : "")" data-category="@item.Id"><a href="#">@item.Name</a></li>
                }
            </ul>
            <hr />
            <section id="filter-fields">
                <div class="filter-field">
                    <h4 class="list-title">Vị trí</h4>
                    <ul>
                        <li>
                            @{ 
                                var cityList = ViewData["Cities"] as IEnumerable<City>;
                                var citySelectList = cityList.Select(o => new CustomSelectItem
                                {
                                    Value = o.Id.ToString(),
                                    Text = o.Name,
                                });
                                }
                            @Html.CustomDropdownList("projectCitiesSelection", citySelectList, null, null, new { data_child = "#states" })
                        </li>
                        <li>
                            @{
                                var stateList = ViewData["states"] as IEnumerable<District>;
                                var stateSelectList = stateList.Select(o => new CustomSelectItem
                                {
                                    Value = o.Id.ToString(),
                                    Text = o.Name,
                                    HtmlAttributes = new { data_parent = o.CityId }
                                });
                            }
                            @Html.CustomDropdownList("states", stateSelectList, null, null)
                        </li>
                    </ul>
                </div>
                <div class="filter-field">
                    <h4 class="list-title">Tình trạng</h4>
                    <div class="checkbox">
                        <label class="radio"><input type="radio" name="status" value="1" checked />Đã hoàn thành</label>
                    </div>
                    <div class="checkbox">
                        <label  class="radio"><input type="radio" name="status" value="0"/>Đang thi công</label>
                    </div>
                </div>
                <div class="filter-field">
                        <div style="display: inline-block; width: 100%; padding-right: 45px; position:relative">
                            <input id="filterTextBox" name="name" type="text" placeholder="Tìm kiếm" style="float: left;" />
                            <button id="filterButton" class="btn2"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                </div>
            </section>
        </div>
    </div>
</div>