@model Homeclick.Models.Project
<a href="#projectSidebar" id="projectSidebarLink" class="projectSidebar-link">
    <!-- Hamburger icon -->
    <i class="fa fa-search" aria-hidden="true"></i>
</a>
<div id="projectSidebar" class="box row ">
    <div class="box-title">
        <h5>@Model.Name</h5>
        <a id="hideprojectSidebar" class="box-tool">
            <!-- Hamburger icon -->
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
    </div>

    <div class="box-content" style="display: block;">
        <div class="uppercase small-text">Chi tiết</div>
        <div class="seperator-hr"></div>

        <div class="margin-bottom">
            <p>
                <strong class="detail-name">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    Loại dự án:
                </strong>
                <strong class="detail-value">@Model.Category.name</strong>
            </p>
            <p>
                <strong class="detail-name">
                    <i class="fa  fa-user"></i>
                    Chủ đầu tư:
                </strong>
                <span class="detail-value">@Model.Investor</span>
            </p>

            <p>
                <strong class="detail-name">
                    <i class="fa  fa-map-marker"></i>
                    Vị trí:
                </strong>
            </p>
            <div class="ebox">
                <p>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <strong class="detail-name">
                        Thành phố:
                    </strong>
                    <span class="detail-value">@Model.City.name</span>
                </p>
                <p>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <strong class="detail-name">
                        Quận:
                    </strong>
                    <span class="detail-value">@Model.State.Name</span>
                </p>
                <p>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <strong class="detail-name">
                        Đường:
                    </strong>
                    <span class="detail-value">@Model.Address</span>
                </p>
            </div>
            <p>
                <strong class="detail-name">
                    <i class="fa  fa-arrows-alt"></i>
                    Quy mô diện tích:
                </strong>
                <span class="detail-value">@Model.Size</span>
            </p>
            <p>
                <strong class="detail-name">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Tổng số căn hộ:
                </strong>
                <span class="detail-value">@Model.Apartments</span>
            </p>
            <p>
                <strong class="detail-name">
                    <i class="fa  fa-calendar"></i>
                    Năm khởi công:
                </strong>
                <span class="detail-value">@Model.StartYear</span>
            </p>
            <p>
                <strong class="detail-name">
                    <i class="fa  fa-calendar"></i>
                    Dự kiến hoàn thành:
                </strong>
                <span class="detail-value">@Model.CompletedYear</span>
            </p>
            <p>
                <strong>
                    Đơn vị thiết kế:
                </strong>
            </p>

            <div class="ebox">
                <p>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <strong class="detail-name">
                        Nội thất:
                    </strong>
                    <span class="detail-value">@Model.FurnitureDesignAgency</span>
                </p>
                <p>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <strong class="detail-name">
                        Kiến trúc:
                    </strong>
                    <span class="detail-value">@Model.ArchitetualDesignAgency</span>
                </p>
                <p>
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <strong class="detail-name">
                        Cảnh quan:
                    </strong>
                    <span class="detail-value">@Model.ViewDesignAgency</span>
                </p>
            </div>
            <p>
                <strong class="detail-name">
                    Đơn vị thi công:
                </strong>
                <span class="detail-value">@Model.ConstructionAgency</span>
            </p>
            <p>
                <strong class="detail-name">
                    Đơn vị quản lý:
                </strong>
                <span class="detail-value">@Model.Manager</span>
            </p>
            <p>
                <strong class="detail-name">
                    Đơn vị phân phối:
                </strong>
                <span class="detail-value">@Model.DistributionAgency</span>
            </p>
        </div>
    </div>
</div>
<div style="clear:both"></div>


<script>
    (function (window, document) {

        var layout = document.getElementById('layout'),
            projectSidebar = document.getElementById('projectSidebar'),
            projectSidebarLink = document.getElementById('projectSidebarLink'),
            hideprojectSidebar = document.getElementById('hideprojectSidebar'),
            blackSrc = document.getElementById('blackSrc');

        var active = 'active';

        function toggleClass(element, className) {
            var classes = element.className.split(/\s+/),
                length = classes.length,
                i = 0;

            for (; i < length; i++) {
                if (classes[i] === className) {
                    classes.splice(i, 1);
                    break;
                }
            }
            // The className is not found
            if (length === classes.length) {
                classes.push(className);
            }

            element.className = classes.join(' ');
        }

        projectSidebarLink.onclick = function (e) {
            e.preventDefault();
            toggleClass(blackSrc, 'blackSrc')
            toggleClass(blackSrc, 'fixed')
            toggleClass(layout, active);
            toggleClass(projectSidebar, active);
            toggleClass(projectSidebarLink, active);
        };

        hideprojectSidebar.onclick = function (e) {
            e.preventDefault();
            toggleClass(blackSrc, 'blackSrc')
            toggleClass(blackSrc, 'fixed')

            toggleClass(layout, active);
            toggleClass(projectSidebar, active);
            toggleClass(projectSidebarLink, active);
        };

        blackSrc.onclick = function (e) {
            toggleClass(blackSrc, 'blackSrc')
            toggleClass(blackSrc, 'fixed')
            toggleClass(layout, active);
            toggleClass(projectSidebar, active);
            toggleClass(projectSidebarLink, active);
        }

    }(this, this.document));
</script>
