@model IEnumerable<Homeclick.Models.Category>

@{
    var baseLink = Request.RequestContext.RouteData.Values["Controller"];
    var url = "";
    var db = new Homeclick.Models.vinabits_homeclickEntities();
    var cities = db.Cities;
}

<div class="sidebar-box">
    <div class="box">
        <div class="box-title">
            <h3 class="title-sidebar title-cate-sidebar">Dự án</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="nav-arrow"></i></a>
            </div>
        </div>
        <div class="box-content clearfix">
            <ul class="category-list">
                <li class="category-link" data-category="-1"><a href="@Url.Action("Index")">Tất cả</a></li>
                @foreach (var item in Model)
                {
                    <li class="category-link" data-category="@item.Id"><a href="@Url.Action("Category", new { category_id = item.Id })">@item.name</a></li>
                }
            </ul>
            <hr />
            <section id="filter-fields">
                <div class="filter-field">
                    <h4 class="list-title">Vị trí</h4>
                    <ul>
                        <li>
                            <select id="projectCitiesSelection">
                                <option selected value="">Thành phố</option>
                                @foreach (var city in cities)
                                {
                                    <option value="@city.Id">@city.name</option>
                                }
                            </select>
                        </li>
                        <li>
                            <select id="statesSelection">
                                <option selected value="">Quận</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="filter-field">
                    <h4 class="list-title">Tình trạng</h4>
                    <div class="checkbox">
                        <label><input id="statu-true" type="checkbox" name="status" value="1" checked />Đã hoàn thành</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="statu-false" type="checkbox" name="status" value="0" checked />Đang thi công</label>
                    </div>
                </div>
                <div class="filter-field">
                    <h4 class="list-title">Tìm theo</h4>
                    <div class="radio">
                        <label><input type="radio" name="a" value="name" checked />Tên dự án</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="a" value="i" />Chủ đầu tư</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="a" value="a" />Đơn vị thiết kế kiến trúc</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="a" value="f" />Đơn vị thiết kế nội thất</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="a" value="v" />Đơn vị thiết kế cảnh quan</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="a" value="c" />Đơn vị thi công</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="a" value="d" />Đơn vị phân phối</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="a" value="m" />Đơn vị quản lý</label>
                    </div>
                    <div style="display: inline-block; width: 100%; padding-right: 50px;">
                        <input id="filterTextBox" type="text" placeholder="Tìm kiếm" style="float: left;" />
                        <button id="filterButton" class="btn2" style="float: right; position: absolute; right: 15px;"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>