@model Homeclick.Models.Project
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Project.cshtml";

}
<div class="row breadcrumb">
    <ul>
        <li><a href="../">Home</a></li>
        <li><a href="/Project">Dự án</a></li>
        <li>@Model.Name</li>
    </ul>
</div>

<div class="main-head row">
    <div class="col-sm-8">
        <span class="main-title">@Model.Name</span>
    </div>
    <div hidden class="col-sm-4" style="text-align:right;">
        <ul>
            <li>
                <a href="/Project/Details/@ViewBag.NextProject" style="margin-right: -3px;"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="/Project/Details/@ViewBag.PreviousProject"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            </li>
        </ul>

    </div>
</div>

<div class="row widget">
    <div id="blackSrc"></div>
    <div id="layout" class="col-md-4 col-lg-3">
        @Html.Partial("_Sidebar")
    </div>

    <div class="col-md-8 col-lg-9 project-content">
        @Html.Partial("_Slider", ViewBag.Thumbnails as IEnumerable<Homeclick.Models.ProjectItem>)
        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#tabs2">Layouts</a></li>
                <li class='tab'><a href="#tabs1">Introduction</a></li>
            </ul>
            <div id="tabs1" class="clearfix project-tab">

                <div style='overflow:hidden;height:250px;width:100%;'>
                    <div id='gmap_canvas' style='height:250px;width:100%;'></div>
                    <style>
                        #gmap_canvas img {
                            max-width: none !important;
                            background: none !important;
                        }
                    </style>
                </div><a href='https://embedmaps.org/'>embedded google map</a>

                @Html.Partial("_ProjectHtmlContent", Model)
                @Html.Partial("_Thumbnail", ViewBag.Thumbnails as IEnumerable<Homeclick.Models.ProjectItem>)
            </div>
            <div id="tabs2" class="clearfix project-tab">
                @Html.Partial("_LayoutTemplated", ViewBag.Layouts as IEnumerable<Homeclick.Models.ProjectItem>)
                <div class="title">
                    <span id="layoutDetailTitle"> Layout mẫu</span>
                </div>  
                <div id="collectionsArea" class="row">

                    <div id="layoutFull">
                        <div id="mapContainer" class="effect">
                            <img id="main" class="imgmapMainImage" alt="" usemap="#map">
                            <map name="map" id="map">
                            </map>
                        </div>
                    </div>

                    <div id="collectionsBorder">
                        <div class="title" style="text-align:center;">
                            <span> Các phương án đề nghị</span>
                        </div>

                        <div id="collections" >

                        </div>
                    </div>

                    <div id="collectionDetails" class="col-md-12">
                        <div style="margin:10px 0;">
                            <a href="#tabs2" onclick="Back()" style="font-size:18px;"><i class="fa fa-angle-left" style="margin-right:15px;" aria-hidden="true"></i><span style="font-family: 'Cousine' ;">Trở về trang trước</span> </a>
                        </div>
                        <div id="collectionContent">

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>