@using VCMS.Lib.Models
@model VCMS.Lib.Models.Project
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SharedLayout_NoSidebar.cshtml";
}

<h1>@Model.Name</h1>
<div>
    @Html.Raw(Model.HtmlContent)
</div>
<hr />
@Html.DropDownList("departments", new SelectList(Model.Departments, "Id", "Name", null), new { })
@{ 
    var floors = new List<Floor>();
    foreach (var department in Model.Departments)
    {
        floors.AddRange(department.Floors);
    }
    var floorSelectlistItems = new List<CustomSelectItem>();
    foreach (var floor in floors)
    {
        floorSelectlistItems.Add(new CustomSelectItem
        {
            Value = floor.Id.ToString(),
            Text = floor.Name,
            HtmlAttributes = new { data_departments = floor.DepartmentId }
        });
    }
}
@Html.CustomDropdownList("floors", floorSelectlistItems, null, null, new { })
@{ 
    var rooms = new List<Room>();
    foreach (var floor in floors)
    {
        rooms.AddRange(floor.Rooms);
    }
    var roomSelectItems = new List<CustomSelectItem>();
    foreach (var room in rooms)
    {
        roomSelectItems.Add(new CustomSelectItem
        {
            Value = room.Id.ToString(),
            Text = room.Name,
            HtmlAttributes = new { data_floors = room.FloorId, data_image = room.Image != null ? room.Image.FullFileName : string.Empty}
        });
    }
}
@Html.CustomDropdownList("rooms", roomSelectItems, null, null, new { })

<div class="clearfix">
    <img id="LayoutImage"/>
</div>

@{ 
    var collections = new List<Post>();
    foreach (var room in rooms)
    {
        collections.AddRange(room.Collections);
    }
    collections = collections.Distinct().ToList();
    var collectionsSelectItems = new List<CustomSelectItem>();
    foreach (var collection in collections)
    {
        collectionsSelectItems.Add(new CustomSelectItem
        {
            Value = collection.Id.ToString(),
            Text = collection.Title,
            HtmlAttributes = new { data_rooms = collection.Rooms.FirstOrDefault().Id}
        });
    }
}
@Html.CustomDropdownList("collections", collectionsSelectItems, null, null, new { })

<div id="Collection">

</div>

@section styles {
    @Styles.Render("~/content/lib/owl-carousel/css")
}

@section scripts {
    @Scripts.Render("~/content/lib/owl-carousel/js")
    <script>
        var $departments = $('#departments'),
		    $floors = $('#floors'),
            $floorsOptions = $floors.find('option'),
            $rooms = $('#rooms'),
            $roomsOptions = $rooms.find('option'),
            $collections = $('#collections'),
            $collectionsOptions = $collections.find('option');

        $departments.on('change', function () {
            $floors.empty();
            var str = '[data-' + $(this).attr('id') + '="' + $(this).val() + '"]';
            var filterResult = $floorsOptions.filter(str);
            for (var i = filterResult.length - 1; i >= 0; i--) {
                $(filterResult[i]).prependTo($floors);
            }
        }).trigger('change');

        $floors.on('change', function () {
            $rooms.empty();
            var str = '[data-' + $(this).attr('id') + '="' + $(this).val() + '"]';
            var filterResult = $roomsOptions.filter(str);
            for (var i = filterResult.length - 1; i >= 0; i--) {
                $(filterResult[i]).prependTo($rooms);
            }
            $rooms.trigger('change');
        }).trigger('change');

        $rooms.on('change', function () {
            var selected = $rooms.find(':selected');
            $('#LayoutImage').attr('src', '@Url.GetImageUploadFolder()' + $(selected).data('image'));
            $collections.empty();
            var str = '[data-' + $(this).attr('id') + '="' + $(this).val() + '"]';
            var filterResult = $collectionsOptions.filter(str);
            for (var i = filterResult.length - 1; i >= 0; i--) {
                $(filterResult[i]).prependTo($collections);
            }
            $collections.trigger('change');
        }).trigger('change');

        $collections.on('change', function () {
            $.ajax({
                url: '@Url.Action("Collection")',
                data: { 'collection_id': $(this).val() },
                method: 'POST',
                success: function (data) {
                    $('#Collection').html(data);
                    $(".owl-carousel").owlCarousel({
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        singleItem: true
                    });
                }
            });
        }).trigger('change');
    </script>

    }
