@using VCMS.Lib.Models
@model Project
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SharedLayout_NoSidebar.cshtml";
}
<style>
    .owl-controls {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translatey(-50%);
        margin-top: 0!important;
    }
    .owl-prev {
            float: left;
    }
    .owl-next{
        float: right;
    }
</style>

<div class="page-title m-l-15 m-r-15">
    <h1>@Model.Name</h1>
</div>

<div class="col-md-3">
    <div class="clearfix">
        <h4>Chi Tiết</h4>
        <p><strong>Loại dự án: </strong>Chung cư</p>
        <p><strong>Chủ đầu tư: </strong>Chung cư</p>
        <p><strong>Vị trí: </strong>Chung cư</p>
        <p><strong>Quy mô diện tích: </strong>Chung cư</p>
        <p><strong>Tổng số căn hộ: </strong>Chung cư</p>
        <p><strong>Năm khởi công: </strong>Chung cư</p>
        <p><strong>Website: </strong>http://masterithaodien.masteri.com.vn/</p>
        <div>
            <img src="http://masterithaodien.masteri.com.vn/Data/Sites/1/Banner/banner-gioi-thieu.jpg" />
        </div>
    </div>
    <hr/>
    <h4>Mặt bằng</h4>
@Html.DropDownList("departments", new SelectList(Model.Departments, "Id", "Name", null), new { style="width:100%; margin-bottom:7px;" })
@{
    var floors = new List<Floor>();
    foreach (var department in Model.Departments)
    {
        floors.AddRange(department.Floors);
    }
    var floorSelectlistItems = new List<CustomSelectItem>();
    foreach (var floor in floors)
    {
        floorSelectlistItems.Add(new CustomSelectItem
        {
            Value = floor.Id.ToString(),
            Text = floor.Name,
            HtmlAttributes = new { data_departments = floor.DepartmentId }
        });
    }
}
@Html.CustomDropdownList("floors", floorSelectlistItems, null, null, new { style = "width:100%; margin-bottom:15px;" })
@{
    var rooms = new List<Room>();
    foreach (var floor in floors)
    {
        rooms.AddRange(floor.Rooms);
    }
    var roomSelectItems = new List<CustomSelectItem>();
    foreach (var room in rooms)
    {
        roomSelectItems.Add(new CustomSelectItem
        {
            Value = room.Id.ToString(),
            Text = room.Name,
            HtmlAttributes = new { data_floors = room.FloorId, data_image = room.Image != null ? room.Image.FullFileName : string.Empty }
        });
    }
}

<div id="layoutContainer">
    @foreach (var item in rooms.Where(o => o.FloorId == floors.FirstOrDefault().Id))
    {
        <div class="layout-item" data-title="@item.Name" data-id="@item.Id">
            <div class="card card-shadow" data-content="@item.Id" data-name="@item.Name" data-image="@item.Image">
                <div>
                    <a>
                        <img style="height:auto; width:100%" src="@Url.GetImageUploadFolder()@item.Image.FullFileName" alt="@item.Description" />
                    </a>
                </div>
                <div class="card-title">
                    <span>@item.Name</span>
                </div>
            </div>
        </div>
    }
</div>
</div>

<div class="col-md-9">
    <div class="layout-image m-b-15" style="width: 100%;">
        <img id="image"/>
    </div>
    <div class="clearfix col-sm-4" style="z-index:9999">
        <div id="Collections">

        </div>
    </div>

    <div id="CollectionDetails">

    </div>
</div>

@section breadcrumb {
    <ul>
        <li><a href="../">Home</a></li>
        <li>Dự án</li>
    </ul>
}

@section styles {
    @Styles.Render("~/content/lib/owl-carousel/css")
    <link rel="stylesheet" href="~/Scripts/Plugins/slick/slick-theme.css" />
    <link href="~/Content/lib/taggd-master/dist/taggd.css" rel="stylesheet" />
}

@section scripts {
    @Scripts.Render("~/content/lib/owl-carousel/js")
    <script src="~/Scripts/Plugins/slick/slick.min.js"></script>
    <script src="~/Content/lib/taggd-master/dist/taggd.js"></script>

    <script>
        var $departments = $('#departments'),
		    $floors = $('#floors'),
            $floorsOptions = $floors.find('option'),
            $rooms = $('#rooms'),
            $roomsOptions = $rooms.find('option'),
            $collections = $('#collections'),
            $collectionsOptions = $collections.find('option');

        $departments.on('change', function () {
            $floors.empty();
            var str = '[data-' + $(this).attr('id') + '="' + $(this).val() + '"]';
            var filterResult = $floorsOptions.filter(str);
            for (var i = filterResult.length - 1; i >= 0; i--) {
                $(filterResult[i]).prependTo($floors);
            }
        }).trigger('change');

        $floors.on('change', function () {
            $rooms.empty();
            var str = '[data-' + $(this).attr('id') + '="' + $(this).val() + '"]';
            var filterResult = $roomsOptions.filter(str);
            for (var i = filterResult.length - 1; i >= 0; i--) {
                $(filterResult[i]).prependTo($rooms);
            }
            $rooms.trigger('change');
        }).trigger('change');

        $collections.on('change', function () {
        }).trigger('change');

        function collectionClick(id) {
            $('#CollectionDetails').empty();
            $.ajax({
                url: '@Url.Action("Collection")',
                data: { 'collection_id': id },
                method: 'POST',
                success: function (data) {
                    $('#CollectionDetails').html(data);
                }
            });

        };

        $('.layout-item').on('click', function (event) {
            var $div = $(this);
            var layoutImg = $div.find('img')
            $('.layout-image img').attr('src', $div.find('img').attr('src'));
            $('#Collections').empty();
            $('#CollectionDetails').empty();

            $.ajax({
                url: '@Url.Action("GetCollections")',
                data: { 'room_id': $div.data('id') },
                method: 'POST',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var collectionCard = '<div class="collection-card" data-id="' + data[i].id + '">' +
                                                '<img style="height:auto; width:100%" src="@Url.GetImageUploadFolder()' + data[i].image +'"/>' +
                                            '</div>';
                        $('#Collections').append(collectionCard);
                    }
                    $("#Collections").owlCarousel({
                        navigation: true,
                        pagination: false,
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        singleItem: true,
                        afterMove: function (elem) {
                            var current = this.currentItem;
                            var id = elem.find(".owl-item").eq(current).find(".collection-card").data('id');
                            collectionClick(id);
                        }
                    });

                    collectionClick($('.collection-card').first().data('id'));
                }
            });      
        })

        $('.layout-item').first().click();

        $('a')

    </script>

}
