@model VCMS.Lib.Models.Project
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SharedLayout_NoSidebar.cshtml";
}

<h1>@Model.Name</h1>
<div>
    @Html.Raw(Model.HtmlContent)
</div>
<hr />
<ul>
    @foreach (var depart in Model.Departments)
    {
        <li>
            @Html.ActionLink(depart.Name, "Department", new { department_id = depart.Id })
            <ul style="margin-left:15px;">
                <li>
                    @foreach (var floor in depart.Floors)
                    {
                        @Html.ActionLink(floor.Name, "Floor", new { floor_id = floor.Id })
                        <ul style="margin-left:15px;">
                                @foreach (var room in floor.Rooms)
                                {
                                    <li>
                                        @Html.ActionLink(room.Name, "Room", new { room_id = floor.Id })
                                        <ul style="margin-left:15px;">
                                            @foreach (var collection in room.Collections)
                                            {
                                                <li>
                                                    @Html.ActionLink(collection.Title, "collection", new { collection_id = collection.Id })
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                        </ul>
                    }
                </li>
            </ul>
        </li>
    }
</ul>
