@using VCMS.Lib.Resources
@model VCMS.Lib.Models.Business.CategoryViewModel

@{
    ViewBag.Title = Model.ParentName;
    ViewBag.FormName = "Create a new category";
    Layout = "~/Areas/Manager/Views/Shared/_Layout_Form.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.TypeId)
        @Html.HiddenFor(model => model.ParentId)

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Desciption, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Desciption, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Desciption, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="@Strings.Done" />
            </div>
        </div>
    </div>
}

@section ActionLinks {
    <div>
        @Html.ActionLink("Back to list", "Index", new { id = Model.TypeId })
    </div>
}

@section breadcrumb {
    @{
        var viewName = Html.ViewContext.RouteData.GetRequiredString("action");
    }
    <li>
        <a href="@Url.Action("Index","Dashboard")">
            <i class="fa fa-home"></i> Home
        </a>
        <span class="divider"><i class="fa fa-angle-right"></i></span>
    </li>
    <li>
        <a href="@Url.Action("Index", new { id = Model.TypeId})">
            @ViewBag.Title
        </a>
        <span class="divider"><i class="fa fa-angle-right"></i></span>
    </li>
    <li class="active">@ViewBag.FormName</li>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
