@using Homeclick.Models
@using System.Collections
@using PagedList.Mvc
@model PagedList.IPagedList<Post>

@{
    Layout = "~/Views/Shared/Layout_postList.cshtml";
}


<div class="part-page post-feature" id="list_post_feature">
    <div class="title-page title-feature">
        <h1 class=" ">@ViewBag.Title</h1>
    </div>
    <div class="content-post col-md-12">
        <div class="feature-item row">
            @foreach (Post item in Model)
            {
                String url = "http://demo.vinabits.com.vn/homeclick2";
                
                <div class="item-post col-md-12">
                    <div class="row">
                        <div class="image col-md-4">
                            <a href="@Url.Action("Detail","Post", new {@Id=@item.Id})"><img src="@url/@item.image" alt="" /></a>
                        </div>
                        <div class="detail-post col-md-8">
                            <h3 class="title-item"><a href="@Url.Action("Detail","Post", new {@Id=@item.Id})">@item.title</a></h3>
                            <div class="post-except">@item.excerpt ...</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.PageCount > 1)
    {
        <div class="pavination col-md-12" data-off-target="roleList">
            @Html.PagedListPager(@Model, page => Url.Action("FilterProduct", "SanPham", new { page = page }),
                                            PagedList.Mvc.PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "list_product_feature" }));
        </div>
    }
</div>